<h2>Resources</h2>
<p>
    <span>Food: {{ platform.totalFood }} | </span>
    <span>Wood: {{ platform.totalWood }} | </span>
    <span>Supplies: {{ platform.totalSupplies }}</span>
</p>

<h2>Income per hour</h2>
<p>
    <span>Food: {{ platform.foodIncome(appService) }} | </span>
    <span>Wood: {{ platform.woodIncome(appService) }} | </span>
    <span>Supplies: {{ platform.suppliesIncome(appService) }}</span>
</p>