<h2>Resources</h2>
{% for resource in platform.resources %}
    <b>{{ resource.resourceType.name }}:</b> {{ resource.total|round(0, 'floor') }} <br />
{% endfor %}
<hr />

<h2>Income per hour</h2>
{% for key, value in platform.income(appService) %}
    <b>{{ key }}:</b> {{ value }}<br />
{% endfor %}
<hr />

<h2>Units</h2>
<p>
    {% for unit in platform.units %}
        {% if unit.total > 0 %}
        <b>{{ unit.unitType.name }}:</b> {{ unit.total }} <br />
        {% endif %}
    {% endfor %}
</p>
<br/>

<p class="small"><i>This information is for the current settlement.</i></p>