{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

<div class="row pb-3">
    <div class="col-sm-12 bg-primary">
        <div class="card-header bg-primary d-flex">
            <div class="mr-auto">
                <span class="mr-2">Resources:</span>
                {% for resource in platform.resources %}
                    <span class="mr-2">{{ resource.resourceType.name }}: {{ resource.total|round(0, 'floor') }}</span>
                {% endfor %}
            </div>

            <div class="mr-auto">
                <span class="mr-2">Income per hour:</span>
                {% for resource in platform.resources %}
                    <span class="mr-2">{{ resource.resourceType.name }}: {{ getIncome(resource) }}</span>
                {% endfor %}
            </div>

            <div class="mr-auto">
                <span class="mr-2">Troops:</span>
                {% for unit in platform.units %}
                    <span class="mr-2">{{ unit.unitType.name }}: {{ unit.iddle }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


