{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Manage Buildings</h1>
    <p><i>All buildings and their cost for next level.</i></p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Wood</th>
            <th>Food</th>
            <th>Supplies</th>
            <th>BuildTime</th>
            <th>Upgrade</th>
        </tr>
        </thead>
        <tbody>
        {% for building in platform.buildings %}
            <tr>
                <td>{{ building.name }}</td>
                <td>{{ building.level }}</td>
                <td>{{ getCostPerLevel(building.gameBuilding.woodCost, building.level) }}</td>
                <td>{{ getCostPerLevel(building.gameBuilding.foodCost, building.level) }}</td>
                <td>{{ getCostPerLevel(building.gameBuilding.suppliesCost, building.level) }}</td>
                <td>{{ getBuildTime(building)|formatTime }}</td>
                <td>
                    {% if building.pending %}
                        <span class="timer" data-seconds="{{ getRemainingBuildTime(building) }}">{{ getRemainingBuildTime(building)|formatTime }}</span>
                    {% else %}
                        <a href="{{ path('start_upgrade', {'id': platform.id, 'buildingId': building.id}) }}">Upgrade</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/timer.js') }}"></script>
    <script>
        $(document).ready(function(){
            setTimers('.timer');
        });
    </script>
{% endblock %}

