{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ userReport.report.name }}</h1>

    <div>
        <b>Date: </b>{{ userReport.report.createdOn | date('F jS \\a\\t g:ia ', 'Europe/Sofia') }}<br />
        <b>Attacker: </b>{{ userReport.report.attacker.username }}<br />
        <b>Defender: </b>{{ userReport.report.defender.username }}<br />
        <b>Winner: </b>{{ userReport.report.winner.username }}
        <div class="pull-right">
            <a href="#" class="btn btn-danger" data-toggle="popover"  data-trigger="focus" data-content="Are you sure you want to delete this report? <div class='text-center'><a  href='{{ path('delete_report', {'id': platform.id, 'reportId': userReport.report.id}) }}'>Delete!</a></div>">Delete</a>
        </div><br />
    </div>

    <hr />
    <h3>Units before battle:</h3>
    <p><b>Attacker Army: </b>
        {% for unit, count in userReport.report.attackerStartArmy %}
            {{ unit }}: {{ count }} |
        {% endfor %}
    </p>
    <p><b>Defender Army: </b>
        {% for unit, count in userReport.report.defenderStartArmy %}
            {{ unit }}: {{ count }} |
        {% endfor %}
    </p>
    <hr />
    <h3>Units after battle:</h3>
    <p><b>Attacker Army: </b>
        {% for unit, count in userReport.report.attackerEndArmy %}
            {{ unit }}: {{ count }} |
        {% endfor %}
    </p>
    <p><b>Defender Army: </b>
        {% for unit, count in userReport.report.defenderEndArmy %}
            {{ unit }}: {{ count }} |
        {% endfor %}
    </p>
    <hr />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var popoverBtn = $("[data-toggle=popover]");
            popoverBtn.click(function (event) {
                event.preventDefault();
            });

            popoverBtn
                .popover(
                    {
                        placement: 'top',
                        html:true,
                        title: '<button type="button" class="close">&times;</button>'
                    }
                );
        });
    </script>
{% endblock %}
