{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Battle Reports</h1>
    <table class="table">
        <thead>
        <tr>
            <th>About</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for userReport in reports %}
            {# @var report \AppBundle\Entity\BattleReport #}
            {% set report = userReport.report %}
            <tr {% if userReport.isRead == false %}class="not-read" {% endif %}>
                <td>
                    <a href="{{ path('show_report', {'id': platform.id, 'reportId': report.id}) }}">
                        {{ report.name }}
                    </a>
                </td>
                <td>{{ report.createdOn | date('F jS \\a\\t g:ia ', 'Europe/Sofia') }}</td>
                <td>
                    <a href="#" data-toggle="popover"  data-trigger="focus" data-content="Are you sure you want to delete this report? <div class='text-center'><a  href='{{ path('delete_report', {'id': platform.id, 'reportId': report.id}) }}'>Delete!</a></div>"><i style="color: red" class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var popoverBtn = $("[data-toggle=popover]");
            popoverBtn.click(function (event) {
                event.preventDefault();
            });

            popoverBtn
                .popover(
                    {
                        placement: 'top',
                        html:true,
                        title: '<button type="button" class="close">&times;</button>'
                    }
                );
        });
    </script>
{% endblock %}