{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>All Players</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Settlement</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('view_public_profile', {'id': platform.id, 'userId': player.id}) }}" title="Got to profile">{{ player.username }}</a></td>
                <td>{{ player.currentPlatform.name }}</td>
                <td>
                    <a href="{{ path('send_message', {'id': platform.id, 'recipientId': player.id}) }}">Send Message</a>
                    | <a href="{{ path('send_attack', {'id': platform.id, 'playerId': player.id }) }}">Attack</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}