{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="card-body p-5">
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">Player Profile</h4>

            {% if app.user and app.user.id == player.id %}
                <a class="btn btn-outline-success" href="{{ path('edit_profile', {'id': platform.id}) }}">Edit Profile</a>
            {% endif %}
        </div>
        <img class="avatar" src="{{ asset('images/avatars/' ~ player.avatar) }}">
        <hr />
        <div class="list-group">
            <div class="list-group-item flex-column align-items-start">
                <span class="font-weight-bold mr-2">Name:</span>
                <span class="mr-2">{{ player.username }}</span>
            </div>
            <div class="list-group-item flex-column align-items-start">
                <span class="font-weight-bold mr-2">Settlement:</span>
                <span class="mr-2">{{ player.currentPlatform.name }}</span>
            </div>
            <div class="list-group-item flex-column align-items-start">
                <span class="font-weight-bold mr-2">Description:</span>
                <span class="mr-2">{{ player.description }}</span>
            </div>
        </div>
    </div>
{% endblock %}