{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>Player Profile</h1>
    <div class="col-sm-5">
        <img width="150" height="150" src="{{ asset('images/avatars/' ~ player.avatar) }}">
        <hr />
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{ player.username }}</td>
            </tr>
            <tr>
                <th>Settlement</th>
                <td>{{ player.currentPlatform.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ player.description }}</td>
            </tr>
        </table>
    </div>
    {% if app.user and app.user.id == player.id %}
        <a class="btn btn-success" href="{{ path('edit_profile', {'id': platform.id, 'userId': player.id}) }}">Edit Profile</a>
    {% endif %}
{% endblock %}