{% extends 'base.html.twig' %}
{# @var platform \AppBundle\Entity\Platform #}
{% set platform = platform_data.currentPlatform %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="card-body p-5">
        <h5 class="mb-1">Reply to: {{ convo.topic.about }}</h5>
        <p class="mb-1">Conversation partner: {{ convo.partner(app.user).username }}</p>

        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <input type="submit" value="Send" class="btn btn-primary" />
            {{ form_end(form) }}
        </div>

        <div class="card-body">
            <h5 class="mb-1">Older replies</h5>
            <div class="list-group">
                {% for message in convo.messages %}
                    <div class="list-group-item flex-column align-items-start{% if (loop.index is even) %} bg-secondary{% endif %}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ message.sender.username }}</h5>
                            <small>{{ message.createdOn | date('F jS \\a\\t g:ia ', 'Europe/Sofia') }}</small>
                        </div>
                        <p class="mb-1">{{ message.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}