{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>{{ platform.name }}</h1>
    <p>This is your first settlement. Try and keep it save from the dead walking outside your walls.</p>

    <h3>Buildings</h3>
    <div id="buildings-map">
        <div class="row">
        {% for building in buildings %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ path('show_building_info', {'id': platform.id, 'buildingId': building.id}) }}">
                        <img class="img-rounded" src="{{ asset('images/design/' ~ building.slug ~ '.jpg') }}" alt="{{ building.name }}" style="width:100%">
                    </a>
                    <div class="caption">
                        <p>{{ building.name }} <span class="small">Level: {{ building.level }}</span></p>
                    </div>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}