{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>Recruit Unit</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Here</th>
            <th>Outside</th>
            <th>Total</th>
            <th>In Training</th>
            {% if unit.haveInTraining %}
                <th>Ready in</th>
            {% endif %}
            <th>Recruit</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ unit.unitType.name }}</td>
                <td>{{ unit.iddle }}</td>
                <td>{{ unit.inBattle }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.inTraining }}</td>
                {% if unit.haveInTraining %}
                <td>{{ unit.remainingTimeFormated(appService) }}</td>
                {% endif %}
                <td>
                    {#<form method="post">#}

                        {#<input type="number" name="unit[forTraining]" />#}
                        {#<input type="submit" value="recruit" />#}
                        {#{{ form_row(form._token) }}#}
                    {#</form>#}
                    {% include 'unit/recruit-form.html.twig' %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manage_units', {'id': platform.id}) }}">Back to all units</a>
{% endblock %}