<table class="table table-hover text-center">
    <thead>
    <tr class="table-dark">
        <th scope="col">Unit</th>
        <th class="w-25" scope="col">Name</th>
        <th scope="col">Food</th>
        <th scope="col">Wood</th>
        <th scope="col">Supplies</th>
        <th class="w-25" scope="col">Build Time</th>
        <th class="w-25" scope="col">In Training</th>
        <th class="w-25" scope="col">Recruit</th>
    </tr>
    </thead>
    <tbody>
    {% for unit in units %}
        <tr class="table-secondary">
            <td class="table-img">
                <a href="{{ path('view_unit_type', {'id': platform.id, 'unitId': unit.id}) }}"><img src="{{ asset('images/design/' ~ unit.unitType.imageName ~ '.jpg') }}" /></a>
            </td>
            <td class="align-middle"><a href="{{ path('view_unit_type', {'id': platform.id, 'unitId': unit.id}) }}">{{ unit.unitType.name }}</a></td>
            <td class="align-middle">{{ unit.unitType.foodCost }}</td>
            <td class="align-middle">{{ unit.unitType.woodCost }}</td>
            <td class="align-middle">{{ unit.unitType.suppliesCost }}</td>
            <td class="align-middle">{{ unit.unitType.buildTime|formatTime }}</td>
            <td class="align-middle">{{ unit.inTraining }}</td>
            {% if unit.trainingTask %}
                <td class="align-middle timer" data-seconds="{{ getTimeUntilDue(unit.trainingTask.dueDate) }}"></td>
            {% else %}
                {% if unit.available %}
                    <td class="align-middle">
                        {{ render(controller(
                        'AppBundle:Unit:recruitUnit',
                        { 'id': platform.id, 'unitId': unit.id }
                        )) }}
                    </td>
                {% else %}
                    <td class="align-middle">{{ unit.status }}</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>