{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Recruit Unit</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Here</th>
            <th>Outside</th>
            <th>Total</th>
            <th>In Training</th>
            {% if unit.trainingTask %}
                <th>Ready in</th>
            {% else %}
                <th>Recruit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ unit.unitType.name }}</td>
                <td>{{ unit.iddle }}</td>
                <td>{{ unit.inBattle }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.inTraining }}</td>
                {% if unit.trainingTask %}
                    <td class="timer" data-seconds="{{ getTimeUntilDue(unit.trainingTask.dueDate) }}"></td>
                {% else %}
                    <td class="unit-count">
                        {% include 'unit/recruit-form.html.twig' %}
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manage_units', {'id': platform.id}) }}">Back to all units</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/timer.js') }}"></script>
    <script>
        $(document).ready(function(){
            setTimers('.timer');
        });
    </script>
{% endblock %}