{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row card-body">
        <div class="col-md-5 border-primary mb-5 mt-2">
            <img src="{{ asset('images/design/' ~ unitType.imageName ~ '.jpg') }}">
            <div class="card-body">
                <h4 class="card-title">{{ unitType.name }}</h4>
                <p class="card-text">{{ unitType.description }}</p>
            </div>
        </div>

        <div class="col-md-7  mt-2">
            <div class="card mb-3">
                <div class="card-body">


                    <h5 class="card-title">Unit details</h5>
                    <small class="ml-auto">Speed is measured in minutes per grid cell</small>
                    <table class="table table-hover text-center">
                        <thead>
                        <tr class="table-dark">
                            <th scope="col">Attack</th>
                            <th scope="col">Health</th>
                            <th scope="col">Speed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-secondary">
                            <td class="align-middle">{{ unitType.attack }}</td>
                            <td class="align-middle">{{ unitType.health }}</td>
                            <td class="align-middle">{{ unitType.speed }}</td>
                        </tr>
                        </tbody>
                    </table>

                    Requirements:
                    <ul class="list-group list-group-flush">
                        {% for requirement in unitType.requirements %}
                            <li class="list-group-item">{{ requirement.buildingAndLevel }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-body">
                    <a href="{{ path('manage_units', {'id': platform.id}) }}" class="card-link">Back to all units</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}