{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ unitType.name }}</h1>

    <img src="{{ asset('images/design/' ~ unitType.imageName ~ '.jpg') }}">
    <hr />
    <p>{{ unitType.description }}</p>
    <hr />

    <h2>Stats</h2>
    <table class="table">
        <tr>
            <th>Attack</th>
            <th>Defense</th>
            <th>HP</th>
            <th>Speed</th>
            <th>Wood</th>
            <th>Food</th>
            <th>Supplies</th>
        </tr>
        <tr>
            <td>{{ unitType.attack }}</td>
            <td>{{ unitType.defense }}</td>
            <td>{{ unitType.health }}</td>
            <td>{{ unitType.speed }}</td>
            <td>{{ unitType.woodCost }}</td>
            <td>{{ unitType.foodCost }}</td>
            <td>{{ unitType.suppliesCost }}</td>
        </tr>
    </table>

    <h2>Requirements</h2>

    <ul>
        {% for requirement in unitType.requirements %}
            <li>{{ requirement.buildingAndLevel }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('manage_units', {'id': platform.id}) }}">Back to all units</a>

{% endblock %}